*.sdf
*.opensdf
*.ncb
*.suo
*.user
*.vcxproj.user
ipch
/SPHSimConsoleTest/Debug_Win32
/SPHSimConsoleTest/Debug_x64
/SPHSimConsoleTest/Release_Win32
/SPHSimConsoleTest/Release_x64
/SPHSimLib/Debug_Win32
/SPHSimLib/Release_Win32
/SPHSimLib/ReleaseDebug_Win32
/SPHSimLib/ReleaseDebug_x64
/SPHSimOgreApp/Debug_Win32
/SPHSimOgreApp/Debug_x64
/SPHSimOgreApp/Release_Win32
/SPHSimOgreApp/Release_x64
/SPHSimOgreApp/ReleaseDebug
/SPHSimOgreApp/ReleaseDebug_Win32
/SPHSimOgreApp/ReleaseDebug_x64
/_ReSharper.gpusphsim